.container {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    height: 100vh;
  }

  .left {
    flex: 1; 
    background-color:brown;
    padding: 20px;
    text-align: center;
    border-right: 2px solid #ccc; 
    height: 780px;
  }

  
  .right {
    flex: 2; 
    background-color:white;
    padding: 20px;
    text-align: center;
  }

  /* Responsive layout for small screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
    }

    .left, .right {
      flex: none; 
      width: 100%; 
    }
  }